# Cloudflare Pages / Wrangler
.wrangler/
dist/
build/
.cache/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.dev.vars

# OS stuff
.DS_Store
Thumbs.db
